# when in production we use firecracker sandboxing for the plugins system
# please ensure you have the required dependencies installed for this
ENVIRONMENT="development"

##########################################
# PostgreSQL docker compose configuration
##########################################
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_ADDR="127.0.0.1"
POSTGRES_PORT=55432
POSTGRES_DB="app"
PGDATA="/var/lib/postgresql/data/pgdata"

##########################################
# Vite/preact configuration
##########################################
# update BACKEND_CORS if this is changed:
FRONTEND_PORT=55173
# production uses $REPO/frontend/.env when building, this is used
# for the dev docker container:
VITE_BASE_URL="http://localhost:48997"

##########################################
# Rust backend configuration
##########################################
# enable/disable serving the SPA from the backend when true we
# expect a frontend/dist/ folder to be present (cd frontend && yarn build)
SERVE_BUILD=true
DATABASE_URL="postgresql://postgres:password@127.0.0.1:55432/app"
BACKEND_PORT=48997    # if changed, update VITE_BASE_URL port
BACKEND_ADDR="localhost"
BACKEND_CORS="http://localhost:55173"
SQIDS_ALPHABET="RQWMLGFATEYHDSIUKXNCOVZJPB"
JWT_SECRET="03d2394fc289b30660772ea8d444540ff64c066631063d823b41444e1bdef086"
JWT_MAXAGE=60
RUST_LOG=debug
