venv
backend/venv
plugins/
**/__pycache__/
osintbuddy-plugins/
.vscode/
rs/target/
target/
frontend/.env
.env
.claude/
CLAUDE.md
services/id_rsa*
services/rootfs.ext4
crates/vmlinux.bin
crates/id_rsa*
crates/rootfs.ext4
crates/vmlinux.bin
perf.data.old
perf.data
flamegraph.svg