env
logs/
venv
.venv
backend/venv
plugins/
**/__pycache__/
osintbuddy-plugins/
osib-icons/
.vscode/
rs/target/
target/
frontend/.env
.env
.claude/
CLAUDE.md
services/id_rsa*
services/rootfs.ext4
crates/vmlinux.bin
crates/id_rsa*
crates/rootfs.ext4
crates/vmlinux.bin
perf.data.old
perf.data
flamegraph.svg
AGENTS.md
SCRATCHPAD.md
auth.toml 

# Frontend logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build
