# The following is OSINTBuddy demo/dev site config,
# replace them with your own Casdoor config when deploying

endpoint = "http://localhost:55173"
client_id = "75da425309bb9998c0bc"
client_secret = "b3b0fedf90a490ad834cbc7a722af56672d1f7b5"
certificate = """-----BEGIN CERTIFICATE-----
MIIE2TCCAsGgAwIBAgIDAeJAMA0GCSqGSIb3DQEBCwUAMCYxDjAMBgNVBAoTBWFk
bWluMRQwEgYDVQQDDAtjZXJ0X3dyMGhpbTAeFw0yNTExMDQwMTI3NTZaFw00NTEx
MDQwMTI3NTZaMCYxDjAMBgNVBAoTBWFkbWluMRQwEgYDVQQDDAtjZXJ0X3dyMGhp
bTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAMHf4NlYx4r6q+074v6m
2UDDq6Eqqom8S/6jS6JBAAkAanPZoB0uGIwXPLGC9RSACE9S/NEATGhTLviDu5rV
HAjXxCSI/hJsre+4plGnRtmUeC0P/UQR6YfVhpbebPIxPSDz2hhV3k14EsbfpmZv
ey82zNAql6aGeqhf718fKjTpU40jJMb6ZaGdgvkeq2GqG39RFDVNtYw8jcwDw6kG
FX4V2VKK1KWH6DiRhESFTVfDnDehsH+bVD9A+2zozECPJTMRMEof7lv3r1vbKd1S
moGedhOVoPV8cS+5sNFV9S3msYkaqyw9shkCRlZkfCzVhJ6FS61fMw5QxKGls0YP
f+vE8eINjbtlx/h3HnGufJOxWtXvT9XDCz3S77dcGAuo6WHrtsZZ2v3iAdeN+Xiu
3DhHGwMDVMYxzAFL/t8CGnwOq0uQm/mafXxsWl/Bonu5bjMiShr3xoKrB2yvxhOD
GfALQVPtqhwBiI6w5QhdvSASBXTlWxtRdk9uJhGRZqMKboCbTIYPpEXKXugjVl4c
fdZkRwkyV4tM7D5WPMI3Fza4SapYTzE8Xkp+qyILyiSMu5jRHG5alLgvDpdgdM+u
8tbr9E91EZ4a0ILD7WaTr2f4bGx+6qYDbrS7WL0joN124nn9KimEwvAdeJlt/7Ye
jb2p407FF8o4ahKROYXc1yCBAgMBAAGjEDAOMAwGA1UdEwEB/wQCMAAwDQYJKoZI
hvcNAQELBQADggIBAHRTImoHQ49ar5cd9QS4dHsED8vjR5e0Z3QT0CgfByWKS13Q
iL1JDgUf0vLgP4wezpHPLzlADFCcjhO6oGxRyntNf3GoFfWaI+4DXh0OAj8KS8CV
LV6w0zRzyQEi/2rnAQUL41NpWV8UM81xRSDRz5VD9/ncFa1RclhZQmzPa7qzTM7g
Z3kYhQ/sep4ms1uzcG5S/P5oWHqD6PDJYRF238t4FKw5fToTcwIQpyq1mWlcL8BI
VNOPmRT2YGHfXyTe+Oo35xSkVXKs+aX8SXDV8PbF1ThB6zAL4Z/AvTCRr+8mg5KZ
SrE9D2Cys6aOUd8kprf4ZuOWIG0U2DY9w7JorC3wF8ZO81bfCWeQF1x5WEBEKIy3
9RdEH3A84V8rqG7TGyieb0JVEykJRgicdVeJUhy3uN3SaI3Qq2TEY7S+1enTbxmg
Q0wrZkERX+Rl7CawillF8is7ekHYZp+1g3gQIFqQ2ZLwgCnjlizD7B6Xz5Zc9s8V
7RCepY20Q8DmLJ2KBgusHfGUtGsAXOfhOgMyO65Ky7rRsw+fcXTLZAklJmvUHA8a
3rCtQsZcS5jdDEk7D4KV97iSQjMRfVUNbTWpU+gOljthcYahkqJKfRHQG7539qyR
BWyM1tBYBHuf5dUaKg38fAyxk/DCCXY+tMbu5wiUSzkClvcEqwS/L9Fvz3hq
-----END CERTIFICATE-----"""
org_name = "osintbuddy"