services:
  ui:
    container_name: "ui"
    tty: true
    command: sh -c "cd /app/ && yarn dev"
    env_file:
      - .env
    image: node:22-alpine
    volumes:
      - ./frontend/:/app/
    ports:
      - "${FRONTEND_PORT-55173}:55173"

  db:
    container_name: "db"
    image: "postgres:17.6-alpine3.22"
    volumes:
      - "ob-db-data:${PGDATA-/var/lib/postgresql/data/pgdata}"
    env_file:
      - .env
    ports:
      - "55432:5432"

  mail:
    image: mailhog/mailhog:latest
    container_name: mailhog
    restart: unless-stopped
    ports:
      - "1025:1025" # SMTP server
      - "8025:8025" # Web UI
    environment:
      - MH_HOSTNAME=mailhog.local
      - MH_STORAGE=memory

  casdoor:
    image: casbin/casdoor:latest
    container_name: casdoor
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - GIN_MODE=release
    volumes:
      - ./conf:/conf
      - ./logs:/logs

volumes:
  ob-db-data:
