@import 'tailwindcss';
@import '../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../node_modules/@xyflow/react/dist/style.css';
@import './fonts.css';
@import './animations.css';
@import './grids.css';
@import './hamburger.css';
@import './flow.css';
@import './nodes.css';
@import './loaders.css';
@plugin "@tailwindcss/typography";

@custom-variant theme-dark {
  &:where([data-theme='dark'] *) {
    @slot;
  }
}
@custom-variant theme-light {
  &:where([data-theme='light'] *) {
    @slot;
  }
}
@custom-variant theme-matrix {
  &:where([data-theme='matrix'] *) {
    @slot;
  }
}
/* TODO: we want themes to actually look different, define some CSS eventually... */
/* [data-theme="matrix"] { color-scheme: dark; } */
/* [data-theme="matrix"] body { background: #000; } */
/* [data-theme="matrix"] .matrix-glow { text-shadow: 0 0 8px #00ff88; } */

@theme {
  --font-sans: 'Lato';
  --font-display: 'Poppins';
  /* TODO: Vendor the google fonts in index.html once I figure out what Im sticking with */
  /* TODO: Saira looks nice, still need to experiment more with font pairings that fit this app */
  --font-art: 'Nata Sans';
  --font-code: 'Fira Code', 'monospace';
  --color-x: #25295f;

  --animate-wiggle: wiggle 600ms ease-in-out;
  --animate-wiggle-8: wiggle 750ms ease-in-out infinite;
  --animate-shine: shine var(--shine-speed, 1000ms) linear infinite;

  --shadow-high:
    0.3px 0.5px 0.5px #05071809, 0.5px 0.7px 0.7px -0.5px #05071809,
    0.8px 1.1px 1.1px -0.1px #05071809, 1.5px 2.2px 2.1px -1.6px #05071809,
    2.8px 4.2px 3.9px -1.1px #05071809, 5.1px 7.4px 7px -2.7px #05071809,
    8.3px 12.3px 11.6px -2.2px #05071809, 12.9px 19px 17.9px -3.7px #05071809,
    18.9px 27.9px 26.3px -3.3px #05071809, 26.7px 39.3px 37.1px -4.8px #05071809;

  --color-primary: #1628ff;
  --color-primary-50: #5e6aff;
  --color-primary-100: #5460ff;
  --color-primary-200: #3f4eff;
  --color-primary-300: #2b3bff;
  --color-primary-350: #1524ea;
  --color-primary-400: #1628ff;
  --color-primary-500: #0215ff;
  --color-primary-600: #0010d3;
  --color-primary-700: #000ca5;
  --color-primary-800: #000977;
  --color-primary-900: #000649;
  --color-primary-950: #000432;
  --color-primary-1000: #06062d;

  --color-slate: #94a3b8;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-350: #b8c0d1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-925: #030a25;
  --color-slate-950: #020617;

  --color-mirage: #1c233b;
  --color-mirage-50: #394778;
  --color-mirage-100: #35426f;
  --color-mirage-200: #2d385e;
  --color-mirage-300: #242e4d;
  --color-mirage-400: #1c233b;
  --color-mirage-500: #14192a;
  --color-mirage-600: #121727;
  --color-mirage-700: #111523;
  --color-mirage-800: #0f1320;
  --color-mirage-900: #0d111c;
  --color-mirage-950: #0e111b;

  --color-danger: #c1292e;
  --color-danger-50: #f7d9da;
  --color-danger-100: #f2c4c5;
  --color-danger-200: #e99a9c;
  --color-danger-300: #e16f73;
  --color-danger-400: #d8454a;
  --color-danger-500: #c1292e;
  --color-danger-600: #972024;
  --color-danger-700: #6d171a;
  --color-danger-800: #430e10;
  --color-danger-900: #190506;

  --color-cod: #0f0f0f;
  --color-cod-50: #3d3d3d;
  --color-cod-100: #383838;
  --color-cod-200: #2e2e2e;
  --color-cod-300: #232323;
  --color-cod-400: #191919;
  --color-cod-500: #0f0f0f;
  --color-cod-600: #0c0c0c;
  --color-cod-700: #0a0a0a;
  --color-cod-800: #070707;
  --color-cod-900: #040416;
  --color-cod-950: #02020c;

  --color-backdrop-100: #090c11;
  --color-backdrop-200: #090c12;
  --color-backdrop-300: #030814;
  --color-backdrop-400: #060608;
  --color-backdrop-500: #050507; /* main dark mode bg */
  --color-backdrop-600: #040405;
  --color-backdrop-700: #040405;

  --color-surface-600: #07080e;
  --color-surface-500: #131c33;
  --color-surface-400: #262d2c;
  --color-surface-300: #5b606b;
  --color-surface-200: #7c8ca4;
  --color-surface-100: #dfe2e6;
}

#app {
  min-height: 100vh;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

html {
  --grid-a: 1px;
  --grid-gap: 2px;
  --grid-size: 80px;
  --grid-small-size: 10px;
  --grid-e: 80px;
  --grid-color: rgba(9, 18, 49, 0.342);
  --paper-color: #00031b;
  background:
    linear-gradient(
      -90deg,
      var(--grid-color) var(--grid-a),
      transparent var(--grid-a)
    ),
    linear-gradient(var(--grid-color) var(--grid-a), transparent var(--grid-a)),
    linear-gradient(
      -90deg,
      var(--grid-color) var(--grid-a),
      transparent var(--grid-a)
    ),
    linear-gradient(var(--grid-color) var(--grid-a), transparent var(--grid-a)),
    linear-gradient(
      transparent var(--grid-gap),
      var(--paper-color) var(--grid-gap),
      var(--paper-color) var(--grid-size),
      transparent var(--grid-size)
    ),
    linear-gradient(-90deg, #040a2c var(--grid-a), transparent var(--grid-a)),
    linear-gradient(
      -90deg,
      transparent var(--grid-gap),
      var(--paper-color) var(--grid-gap),
      var(--paper-color) var(--grid-size),
      transparent var(--grid-size)
    ),
    linear-gradient(#040a2c var(--grid-a), transparent var(--grid-a)),
    var(--paper-color);
  background-size:
    var(--grid-small-size) var(--grid-small-size),
    var(--grid-small-size) var(--grid-small-size),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e);
  z-index: -99;
}
::selection {
  background-color: #1628ff99;
  color: #fff;
}
body {
  background-image:
    radial-gradient(
      49% 81% at 45% 47%,
      rgba(0, 1, 17, 0) 0%,
      rgba(1, 11, 39, 0.155) 100%
    ),
    radial-gradient(
      113% 91% at 17% -2%,
      rgba(2, 1, 15, 0) 1%,
      rgba(4, 0, 22, 0.035) 99%
    ),
    radial-gradient(
      142% 91% at 83% 7%,
      hsla(251, 98%, 40%, 0.11) 1%,
      rgba(0, 1, 14, 0.205) 99%
    ),
    radial-gradient(
      142% 91% at -6% 74%,
      rgba(150, 5, 179, 0.192) 1%,
      rgba(0, 80, 253, 0.219) 99%
    ),
    radial-gradient(
      142% 91% at 111% 84%,
      rgba(0, 0, 0, 0.158) 25%,
      rgba(0, 8, 116, 0.151) 95%
    );
  z-index: -99;
}

::selection {
  background-color: #1628ff99;
  color: #fff;
}

svg.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-family: var(--font-sans);
}
input[type='file'] {
  display: none;
}

/* fix autofill bg for the shittiest browser in the world (chrome) P.S. use firefox, adblock works on it */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
/* 
  Custom Scrollbar Style 
  Works on Chrome and Firefox
*/
* {
  scrollbar-width: 12px;
  scrollbar-color: #0c092754 #0405115d;
}
@supports (not (-moz-appearance: button)) and (contain: paint) and
  (-webkit-appearance: none) {
  /* ugh,  failed web standards, this targets the chrome browser - https://stackoverflow.com/a/73264364 */
  * {
    scrollbar-width: thin;
  }
}
/* end Custom Scrollbar Style */

/* hide number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  color: #8d0a6199;
}
/* end hide number inputs */

.btn-icon {
  @apply group-hover:animate-wiggle ml-3 h-5 w-5 transition-all duration-75 ease-out;
}

.transparent-icon {
  @apply group-hover:text-primary-350 group-focus-within:group-hover:text-primary-400 group-focus-within:text-primary-400 group-active:text-primary-400 relative right-4 h-6 w-6;
}

.link {
  @apply border-b-primary-300 text-slate-350 inline-flex h-[11px] border-b-3 leading-0 font-medium transition-all duration-100 ease-in-out hover:border-b-4 hover:text-slate-200;
}
