@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import '../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../node_modules/@xyflow/react/dist/style.css';
@import './fonts.css';
@import './nodes.css';
@import './loaders.css';

@custom-variant theme-matrix {  &:where([data-theme="matrix"] *) {    @slot;  }}
@custom-variant theme-blueprint {  &:where([data-theme="blueprint"] *) {    @slot;  }}
@custom-variant theme-fire {  &:where([data-theme="fire"] *) {    @slot;  }}

@theme {
  --font-sans: "Lato";
  --font-display: "Onest";
  --font-code: "Fira Code", "monospace";
  --color-x: #25295f;

  --color-primary: #1628FF;
  --color-primary-50: #5E6AFF;
  --color-primary-100: #5460FF;
  --color-primary-200: #3F4EFF;
  --color-primary-300: #2B3BFF;
  --color-primary-350: #1524ea;
  --color-primary-400: #1628FF;
  --color-primary-500: #0215FF;
  --color-primary-600: #0010D3;
  --color-primary-700: #000CA5;
  --color-primary-800: #000977;
  --color-primary-900: #000649;
  --color-primary-950: #000432;
  --color-primary-1000: #06062d;

  --color-slate: #94a3b8;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-350: #b8c0d1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-925: #030a25;
  --color-slate-950: #020617;

  --color-mirage: #1C233B;
  --color-mirage-50: #394778;
  --color-mirage-100: #35426F;
  --color-mirage-200: #2D385E;
  --color-mirage-300: #242E4D;
  --color-mirage-400: #1C233B;
  --color-mirage-500: #14192A;
  --color-mirage-600: #121727;
  --color-mirage-700: #111523;
  --color-mirage-800: #0F1320;
  --color-mirage-900: #0D111C;
  --color-mirage-950: #0D101A;

  --color-gray-50: #3D3D3D;
  --color-gray-100: #383838;
  --color-gray-200: #2E2E2E;
  --color-gray-300: #232323;
  --color-gray-400: #191919;
  --color-gray-500: #0F0F0F;
  --color-gray-600: #0C0C0C;
  --color-gray-700: #0A0A0A;
  --color-gray-800: #070707;
  --color-gray-900: #050505;
  --color-gray-950: #040404;

  --color-info: #1A386D;
  --color-info-50: #648FDA;
  --color-info-100: #5483D6;
  --color-info-200: #336BCE;
  --color-info-300: #2A5AAF;
  --color-info-400: #22498E;
  --color-info-500: #1A386D;
  --color-info-600: #16305D;
  --color-info-700: #12274C;
  --color-info-800: #0E1F3C;
  --color-info-900: #0A162B;
  --color-info-950: #081223;

  --color-danger: #C1292E;
  --color-danger-50: #F7D9DA;
  --color-danger-100: #F2C4C5;
  --color-danger-200: #E99A9C;
  --color-danger-300: #E16F73;
  --color-danger-400: #D8454A;
  --color-danger-500: #C1292E;
  --color-danger-600: #972024;
  --color-danger-700: #6D171A;
  --color-danger-800: #430E10;
  --color-danger-900: #190506;

  --color-radiance: #029AFE;
  --color-radiance-50: #A2DAFF;
  --color-radiance-100: #90D3FF;
  --color-radiance-200: #6DC5FE;
  --color-radiance-300: #49B6FE;
  --color-radiance-400: #26A8FE;
  --color-radiance-500: #029AFE;
  --color-radiance-600: #0188E1;
  --color-radiance-700: #0175C2;
  --color-radiance-800: #0163A4;
  --color-radiance-900: #015085;
  --color-radiance-950: #004776;

  --color-success: #42A951;
  --color-success-50: #7BCB87;
  --color-success-100: #74C980;
  --color-success-200: #65C373;
  --color-success-300: #56BD66;
  --color-success-400: #48B758;
  --color-success-500: #42A951;
  --color-success-600: #3B9649;
  --color-success-700: #348440;
  --color-success-800: #2C7237;
  --color-success-900: #255F2E;

  --color-cod: #0F0F0F;
  --color-cod-50: #3D3D3D;
  --color-cod-100: #383838;
  --color-cod-200: #2E2E2E;
  --color-cod-300: #232323;
  --color-cod-400: #191919;
  --color-cod-500: #0F0F0F;
  --color-cod-600: #0C0C0C;
  --color-cod-700: #0A0A0A;
  --color-cod-800: #070707;
  --color-cod-900: #040416;
  --color-cod-950: #02020c;
}

/* TODO: Improve me... this gradient and grid background is such a pain
in the ass to make look nice, maybe animate some other bg for landing page,
or improve colors, idk, I  */
html {
  --grid-a: 1px;
  --grid-gap: 2px;
  --grid-size: 80px;
  --grid-small-size: 10px;
  --grid-e: 80px;
  --grid-color: rgba(9, 18, 49, 0.342);
  --paper-color: #00031b;
  background:
    linear-gradient(-90deg, var(--grid-color) var(--grid-a), transparent var(--grid-a)),
    linear-gradient(var(--grid-color) var(--grid-a), transparent var(--grid-a)),
    linear-gradient(-90deg, var(--grid-color) var(--grid-a), transparent var(--grid-a)),
    linear-gradient(var(--grid-color) var(--grid-a), transparent var(--grid-a)),
    linear-gradient(transparent var(--grid-gap), var(--paper-color) var(--grid-gap), var(--paper-color) var(--grid-size), transparent var(--grid-size)),
    linear-gradient(-90deg, #040a2c var(--grid-a), transparent var(--grid-a)),
    linear-gradient(-90deg, transparent var(--grid-gap), var(--paper-color) var(--grid-gap), var(--paper-color) var(--grid-size), transparent var(--grid-size)),
    linear-gradient(#040a2c var(--grid-a), transparent var(--grid-a)),
    var(--paper-color);
  background-size:
    var(--grid-small-size) var(--grid-small-size),
    var(--grid-small-size) var(--grid-small-size),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e),
    var(--grid-e) var(--grid-e);
  z-index: -99;
}

body {
  background-image:
    radial-gradient(49% 81% at 45% 47%, rgba(0, 1, 17, 0.062) 0%, lch(3.54% 19.49 285.3 / 0.055) 100%),
    radial-gradient(113% 91% at 17% -2%, rgba(3, 1, 44, 0.103) 1%, #04001609 99%),
    radial-gradient(142% 91% at 83% 7%, hsla(251, 98%, 40%, 0.11) 1%, rgba(0, 1, 14, 0.205) 99%),
    radial-gradient(142% 91% at -6% 74%, rgba(150, 5, 179, 0.192) 1%, rgba(0, 80, 253, 0.219) 99%),
    radial-gradient(142% 91% at 111% 84%, #000e5c0e 25%, rgba(0, 8, 116, 0.151) 95%);
  z-index: -99;
}

.btn-icon {
  @apply ml-3 w-5 h-5 group-hover:!scale-105 ease-out transition-all duration-75
}

::-moz-selection,
::selection {
  color: var(--color-teal-200);
  background-color:  color-mix(in srgb, var(--color-teal-400) 15%, transparent);
  opacity: .1
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
  justify-content: space-between;
}
svg.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-family: var(--font-sans);
}
input[type='file'] {
  display: none;
}

.transition-opacity-transform {
  transition: transform 200s, opacity 5s;
}

/* fix autofill bg for the shittiest browser in the world (chrome) P.S. use firefox, adblock works on it */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
/* 
  Custom Scrollbar Style 
  Works on Chrome and Firefox
*/
* {
  scrollbar-width: 12px;
  scrollbar-color: #0c092754 #0405115d;
}
@supports (not (-moz-appearance:button)) and (contain:paint) and (-webkit-appearance:none){
  /* ugh,  failed web standards, this targets the shitty chrome browser - https://stackoverflow.com/a/73264364 */
  * {
    scrollbar-width: thin;
  }
}
/* end Custom Scrollbar Style */

/* start Animated CSS Hamburger Menu */
.hamburger.is-active {
  transition: transform;
  transform: rotate(-45deg);
  transition-duration: 300ms;
}

.hamburger {
  position: relative;
  transform: rotate(0deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .line {
  background-color: rgb(71 85 105);

}

.hamburger .line {
  background-color: rgb(51 65 85);
  border-radius: 50px;
  height: 2px;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3) {
  width: 20px;
}

.hamburger .line:nth-child(1) {
  width: 26px;
  margin-right: 100%;
}

.hamburger .line:nth-child(2) {
  width: 26px;
  margin-right: 100%;
}

.hamburger .line:nth-child(3) {
  width: 26px;
  margin-right: 100%;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(90deg);
  -ms-transform: translateY(-8px) rotate(90deg);
  -o-transform: translateY(-8px) rotate(90deg);
  transform: translateY(-8px) rotate(90deg);
}

/* end Animated CSS Hamburger Menu */

/* hide number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  color: #8d0a6199;
}
/* end hide number inputs */

/* start react flow style overrides */
:root {
	--xy-edge-stroke-default: #b1b1b7;
	--xy-edge-stroke-width-default: 2;
	--xy-edge-stroke-selected-default: #555;
	--xy-connectionline-stroke-default: #b1b1b7;
	--xy-connectionline-stroke-width-default: 1.5;
	--xy-node-boxshadow-hover-default: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
	--xy-node-boxshadow-selected-default: 0 0 0 0.5px #1a192b;
	--xy-node-border-radius-default: 3px;

	--xy-handle-background-color-default: #1a192b;
	--xy-handle-border-color-default: #fff;

	--xy-selection-background-color-default: rgba(0, 89, 220, 0.08);
	--xy-selection-border-default: 1px dotted rgba(0, 89, 220, 0.8);

  --xy-background-color-props: #0d101a91;
}
.react-flow__panel.top {
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin: 0px;
}
.react-flow__edge .react-flow__edge-path {
  stroke: #373c83 !important;
  stroke-width: 2;
}
.react-flow__handle.connectingto {
  cursor: cell
}
.react-flow__handle.react-flow__handle-left {
  left: -8px;
}
.react-flow__handle.react-flow__handle-right {
  left: calc(100% - 4px);
}
.react-flow__handle.react-flow__handle-top {
  top: -8px;
}
.react-flow__handle.react-flow__handle-bottom {
  top:  calc(100% - 4px);
}
.validationflow .react-flow__handle.connectingto {
  border-color:  var(--color-red-600);
}
.validationflow .react-flow__handle.valid {
  border-color: var(--color-green-600);
}
.react-flow__handle.connectionindicator {
  border-width: 1.75px;
  border-color: #24296e99;
  background-color: #0c0c1f9f;
  transition: background-color ease-in 75ms, border-color ease-in 75ms;
 }
.react-flow__handle.connectionindicator:hover {
  border-color: var(--color-primary-500);
  background-color: var(--color-primary-500);
}
.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
  border-color:  var(--color-primary-400);
  background-color: var(--color-primary-400);
  cursor: cell;
}
 
.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: #3b419eee;
}

@keyframes glowPulse {
  0%, 100% {
    filter: url(#glow);
    opacity: 0.45;
  }
  50% {
    filter: url(#glow);
    opacity: 1; 
  }
}

@keyframes dashingLines {
  to {
    stroke-dashoffset: -150;
  }
}
/* end react flow style overrides */

/* start react-grid-layout and codemirror */
.react-grid-item > .react-resizable-handle::after {
  border-color: var(--color-slate-600);
  height: 8px;
  width: 8px;
}
/* end react-grid-layout and codemirror */

