/* Start node */
.node.container {
  @apply bg-slate-925 flex w-auto max-w-sm cursor-grab flex-col justify-between rounded-md py-px shadow-lg ring-1 shadow-black/25 ring-slate-900/70 transition-all duration-150 ease-in-out hover:ring-slate-900 focus:cursor-grabbing active:cursor-grabbing;
}

.node .header {
  @apply flex h-full w-full cursor-grab items-center justify-between rounded-t-md p-1 text-slate-50/70 select-none focus:cursor-grabbing active:cursor-grabbing;
}

.node .header svg {
  @apply !h-13 !w-13 cursor-grab focus:cursor-grabbing active:cursor-grabbing;
}

.node .side-header {
  @apply flex w-10 shrink-0 flex-col items-center justify-center rounded-l-sm px-0 py-2 text-sm font-medium text-slate-50;
}

.node .side-header svg {
  @apply h-5 w-5;
}

.node .node-display {
  @apply flex w-full flex-col;
}

.node .node-display h1 {
  @apply leading-3 text-slate-300;
}

.node .node-display h2 {
  @apply leading-4;
}

.node .node-display h1,
.node .node-display h2,
.node .node-display p {
  @apply font-sans text-sm font-semibold break-words text-slate-400 hover:cursor-pointer;
}
.node .node-display p {
  @apply pt-1.5 text-xs font-normal;
}
.node .node-display h2 {
  @apply text-xs;
}

.text-container {
  @apply flex w-full flex-col px-2 font-medium;
}

.text-container p:first-child,
.text-container p:first-child > span {
  @apply font-display text-[0.4rem] text-slate-100/90;
}

.text-container p:last-child {
  @apply font-display max-w-xl text-xs font-medium text-slate-200;
}

.node-field {
  @apply hover:border-mirage-200/50 focus-within:!border-primary-350 border-mirage-200/30 relative block w-full items-center justify-between rounded-sm border bg-gradient-to-br from-black/10 to-black/35 pl-0.5 text-sm leading-4 text-slate-400 shadow-sm transition-colors duration-75 ease-in-out focus-within:bg-gradient-to-l focus-within:from-black/45 focus-within:to-black/20;
}

.node-field svg {
  @apply pointer-events-none absolute top-1 right-1 h-4 w-4 text-slate-900;
}

.node-field input {
  @apply py-[3px] pr-5 pl-1 font-sans text-inherit transition-colors duration-100 ease-in placeholder:text-slate-800 focus:ring-0 focus:outline-hidden;
}

.node-field.dropdown input {
  @apply pl-1.5;
}

/* @todo :has is not supported by firefox yet :( */
.node-field:has(input:focus) {
  @apply ring-blue-300/40;
}

.node-field:has(input:focus) svg {
  @apply text-slate-500;
}

p.node-label {
  @apply font-display mt-1 text-[0.5rem] font-medium text-slate-400;
}
/* End node */

.elements {
  @apply grid gap-x-1 rounded-b-md p-2;
}

.elements > div:nth-child(even) {
  @apply mr-0;
}

.node-details-popup .arrow {
  color: #797979;
}

.triangle-left {
  width: 0;
  height: 0;
  margin: 30px auto;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 20px solid rgb(23 35 65);
}
