/* Start node */
.node.container {
  @apply flex flex-col w-auto max-w-sm justify-between rounded-md transition-all duration-150 ease-in-out ring-1 ring-slate-900/70 hover:ring-slate-900 bg-slate-925 cursor-grab active:cursor-grabbing focus:cursor-grabbing py-px shadow-lg shadow-black/25;
}

.node .header {
  @apply flex h-full w-full items-center justify-between rounded-t-md text-slate-50/70 p-1 select-none cursor-grab active:cursor-grabbing focus:cursor-grabbing;
}

.node .header svg {
  @apply !h-13 !w-13 cursor-grab active:cursor-grabbing focus:cursor-grabbing;
}

.node .side-header {
  @apply px-0 py-2 shrink-0 flex flex-col items-center justify-center w-10 text-slate-50 text-sm font-medium rounded-l-sm;
}

.node .side-header svg {
  @apply w-5 h-5;
}

.node .node-display {
  @apply w-full flex flex-col ;
}

.node .node-display h1 {
  @apply leading-3 text-slate-300;
}

.node .node-display h2 {
  @apply leading-4;
}

.node .node-display h1,
.node .node-display h2,
.node .node-display p {
  @apply font-semibold text-slate-400 font-sans break-words text-sm hover:cursor-pointer;
}
.node .node-display p {
  @apply text-xs font-normal pt-1.5;
}
.node .node-display h2 {
  @apply text-xs;
}


.text-container {
  @apply flex w-full flex-col px-2 font-medium;
}

.text-container p:first-child,
.text-container p:first-child > span {
  @apply text-[0.4rem] text-slate-100/90 font-display;
}

.text-container p:last-child {
  @apply text-xs text-slate-200 max-w-xl font-display font-medium;
}

.node-field {
  @apply block  w-full rounded-sm  relative text-sm leading-4  hover:border-mirage-200/50 transition-colors duration-75 ease-in-out justify-between items-center to-black/35 from-black/10 bg-gradient-to-br border focus-within:!border-primary-350  text-slate-400 shadow-sm border-mirage-200/30  focus-within:from-black/45 focus-within:to-black/20 focus-within:bg-gradient-to-l pl-0.5;
}

.node-field svg {
  @apply h-4 w-4  absolute right-1 top-1 text-slate-900 pointer-events-none;
}

.node-field input {
  @apply pr-5 pl-1 py-[3px] text-inherit placeholder:text-slate-800   font-sans focus:outline-hidden focus:ring-0 transition-colors duration-100 ease-in    ;
}


.node-field.dropdown input {
  @apply pl-1.5;
}

/* @todo :has is not supported by firefox yet :( */
.node-field:has(input:focus) {
  @apply ring-info-400/70;
}

.node-field:has(input:focus) svg {
  @apply text-slate-500;
}

p.node-label {
  @apply text-[0.5rem] font-medium text-slate-400 font-display mt-1;
}
/* End node */

.elements {
  @apply p-2 grid rounded-b-md  gap-x-1;
}

.elements > div:nth-child(even) {
  @apply mr-0;
}

.node-details-popup .arrow {
  color: #797979;
}


.triangle-left{
  width: 0;
  height: 0;
  margin: 30px auto;
  border-top:
    12px solid transparent;
  border-bottom:
    12px solid transparent;
    border-right:
    20px solid  rgb(23 35 65);
  
}
